<footer>
    Contact us!
    <div>
        <a href="mailto:unemailacaso@gmail.it">            
            <i class="fa-regular fa-envelope email link"></i>
        </a>
        <a href="https://www.youtube.com/user/ilsangio75" target="_blank">
            <i class="fa-brands fa-youtube youtube link"></i>                
        </a>
        <a href="https://it-it.facebook.com/sangympalestra/" target="_blank">
            <i class="fa-brands fa-square-facebook facebook link"></i>
        </a>
        <a href="https://www.instagram.com/sangympalestra/?hl=it" target="_blank">
            <i class="fa-brands fa-instagram instagram link"></i>
        </a>
    </div>
</footer>