<form action="/" method="POST" id="f-searchCity" name="searchForm" autocomplete="off">
    <input type="text" name="city" id="cityInput" placeholder="Insert city">
    <button type="button" id="searchButton">Search city</button>
</form>